@font-face {
  font-family: "Roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}
/*
@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url('../font/RobotoCondensed-ExtraBold.ttf')('truetype');

   font-style:normal;


}*/
/*colors*/
/*font sizes*/
body {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 64rem) {
  body {
    background-image: url("/assets/imgs/Path.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 67% 800px;
  }
}

header {
  margin-bottom: 50px;
}
header .navbar {
  background-color: transparent;
}
header .navbar .nav-link {
  color: #505F98;
  font-size: 14px;
  font-family: "Roboto-regular";
}
header .navbar .offcanvas {
  background-color: #343a40;
}
header .navbar .offcanvas .offcanvas-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .navbar .offcanvas .offcanvas-header .btn-close {
  color: white;
  opacity: 0.5;
}
header .navbar .offcanvas .offcanvas-header .btn-close:hover {
  opacity: 1;
}
header .navbar .offcanvas-start.showing .nav-link,
header .navbar .offcanvas-start.show .nav-link {
  color: #505F98;
  font-size: 14px;
  font-family: "Roboto-regular";
  color: rgba(255, 255, 255, 0.7);
}
header .navbar .offcanvas-start.showing .nav-link:hover,
header .navbar .offcanvas-start.show .nav-link:hover {
  color: white;
}
header .landing {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
}
header .btn-buy-now {
  background-color: #111b47;
  font-family: "Roboto-medium";
  font-size: 12px;
  border-radius: 2%;
}
@media (min-width: 64em) {
  header .btn-buy-now {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.container-1 .group_img {
  width: 472px;
  height: 569px;
}
@media (max-width: 768px) {
  .container-1 .group_img {
    width: 323px;
    height: 390px;
  }
}
.container-1 .introduce h2 {
  font-family: "Roboto-medium";
  font-size: 50px;
  color: #091133;
}
@media (max-width: 1199.2px) {
  .container-1 .introduce h2 {
    font-size: 40px;
  }
}
@media (max-width: 455px) {
  .container-1 .introduce h2 {
    font-size: 30px;
  }
}
.container-1 .introduce p {
  font-family: "Roboto-regular";
  font-size: 18px;
  color: #505F98;
}
.container-1 .introduce .btn-purchase {
  background-color: #111b47;
  font-family: "Roboto-medium";
  font-size: 16px;
  border-radius: 2%;
}
.container-1 .introduce .btn-learn-more {
  font-family: "Roboto-medium";
  font-size: 16px;
  color: #091133;
  border: 2px solid #111b47;
  border-radius: 2%;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 1200px) {
  .container-1 .introduce .btn.btn-purchase, .container-1 .introduce .btn.btn-learn-more {
    width: 30%;
  }
}

.light-fast-container {
  margin-top: 100px;
}
.light-fast-container .light-fast-header {
  font-family: "Roboto-medium";
  font-size: 36px;
  color: #091133;
}
@media (max-width: 394px) {
  .light-fast-container .light-fast-header {
    font-size: 25px;
  }
}
.light-fast-container .light-fast-p {
  font-family: "Roboto-regular";
  font-size: 16px;
  color: #6F7CB2;
}
.light-fast-container .title-goes-here-header {
  font-family: "Roboto-medium";
  font-size: 16px;
  color: #091133;
}
.light-fast-container .title-goes-here-p {
  font-family: "Roboto-regular";
  font-size: 12px;
  color: #5D6970;
  padding-right: 20px;
}
.light-fast-container .btn-purchase-small {
  background-color: #111b47;
  font-family: "Roboto-medium";
  font-size: 14px;
  border-radius: 2%;
}

.price-section {
  background-color: rgba(231, 236, 255, 0.5);
  padding-bottom: 100px;
}
.price-section .curved-section {
  background-color: white;
  padding: 100px 0;
  -webkit-clip-path: ellipse(70% 50% at center top);
          clip-path: ellipse(70% 50% at center top);
}
.price-section .price-div .price-to-suit-header {
  font-family: "Roboto-medium";
  font-size: 36px;
  color: #091133;
}
@media (max-width: 394px) {
  .price-section .price-div .price-to-suit-header {
    font-size: 25px;
  }
}
.price-section .price-div .price-suit-p {
  font-family: "Roboto-regular";
  font-size: 16px;
  color: #6F7CB2;
}
@media (min-width: 64em) {
  .price-section .price-div .price-suit-p {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.price-section .price-div .price {
  font-family: "Roboto-medium";
  font-size: 50px;
  color: #222F65;
}
@media (max-width: 768px) {
  .price-section .price-div .price {
    font-size: 40px;
  }
}
.price-section .price-div .ui-design-kit {
  font-family: "Roboto-regular";
  font-size: 16px;
  color: #37447e;
}
.price-section .price-div .see-one-price-simple {
  font-family: "Roboto-regular";
  font-size: 14px;
  color: #5D6970;
}
.price-section .price-div .btn-purchase-small {
  background-color: #111b47;
  font-family: "Roboto-medium";
  font-size: 14px;
  border-radius: 2%;
}

footer {
  background-color: #E7ECFF;
}
footer .row .landing {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
}
footer .row .your-company {
  font-family: "Roboto-medium";
  font-size: 14px;
  color: #939EA4;
}
footer .row hr {
  color: #CDD1D4;
}
footer .row .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 992px) {
  footer .row .nav-item {
    margin-right: 50px;
    margin-left: 0;
  }
}
footer .row .nav-item .nav-link {
  color: #505F98;
  font-size: 14px;
  font-family: "Roboto-regular";
}
footer .row .btn {
  background-color: #111b47;
  font-family: "Roboto-medium";
  font-size: 12px;
  border-radius: 2%;
}
footer .row .social .fa {
  margin-left: 20px;
  font-size: 16px;
  width: 20px;
  text-decoration: none;
  color: #B0B8BC;
}
footer .row .social .fa:hover {
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */