



@font-face {
    font-family: 'Roboto-medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
        
     
    font-style: normal; 
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
         
     
    font-style: normal; 
}
/*
@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url('../font/RobotoCondensed-ExtraBold.ttf')('truetype');
    
   font-style:normal;
   
   
}*/
@font-face {
    font-family: 'Roboto-extra-bold';
    src: url('../font/RobotoCondensed-ExtraBold.ttf') format('truetype');
         
     
    font-style: normal; 
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
         
     
    font-style: normal; 
}