
@mixin bg{
    background-image: url('/assets/imgs/Path.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 67% 100%;
    [dir="rtl"] &{    
        transform: scaleX(-1);
    }
}
    @mixin btn-hover{
        &:hover {
            background-color: $btn-hover-color;
            color: white;    
        }
    }
    @mixin dark-btn {
        background-color: $button-bg-color;
        font-family: 'Roboto-medium';
        border-radius: 2%;
        transition: all $animation-duration;
        @include btn-hover;
    }
    @mixin logo{ 
        font-family: 'Roboto-extra-bold';
        font-size: 26px;
        color: $ui-design-kit-logo-color;
        @include media-breakpoint-down(sm) { 
            font-size: 22px;
        }
    }
    @mixin nav_link{
        @include media-breakpoint-up(lg){
            width: 70px;     
        }
        color: $secondary-color;
        font-size: $font_14px;
        font-family: 'Roboto-regular';
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }   
    }
    @mixin font-Roboto-medium($color){
        font-family: 'Roboto-medium';
        color: $color;
    }
   @mixin font-Roboto-Regular($font-size,$color){
    font-family: 'Roboto-regular';
    font-size: $font-size;
    color: $color;
   }
