


    @mixin button-styles($font-size) {
        background-color: $button-bg-color;
        font-family: 'Roboto-medium';
        font-size: $font-size;
        border-radius: 2%;
    }
    @mixin logo{
         
       // font-family: 'Roboto-ExtraBold';//not work
        font-family: 'Roboto';
         font-weight: 900;
        font-size: 26px;
        color: $ui-design-kit-landing-color;
    }
    @mixin nav_link{
        color: $secondary-color;
        font-size: 14px;
        font-family: 'Roboto-regular';
        
    }
   
    @mixin font-Roboto-medium-36{
        font-family: 'Roboto-medium';
        font-size: 36px;
        color: $primary-color;
    }
    @mixin font-Roboto-medium( $font-size,$color){
        font-family: 'Roboto-medium';
        font-size: $font-size;
        color: $color;
    }
   @mixin font-Roboto-Regular($font-size,$color){
    font-family: 'Roboto-regular';
    font-size: $font-size;
    color: $color;
   }