@mixin reverse {
    [dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
    @mixin btn-hover{
        &:hover {
            background-color: $btn-hover-color;
            color: white;    
        }
    }
    @mixin dark-btn {
        background-color: $button-bg-color;
        font-family: 'Roboto-medium';
        border-radius: 2%;
        transition: all $animation-duration;
        @include btn-hover;
    }
    @mixin logo{ 
        font-family: 'Roboto-extra-bold';
        font-size: 26px;
        color: $ui-design-kit-logo-color;
        @media (max-width: 575.98px) { 
            font-size: 22px;
        }
    }
    @mixin nav_link{
        @media (min-width: 992px){
            width: 70px;     
        }
        color: $secondary-color;
        font-size: $font_14px;
        font-family: 'Roboto-regular';
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }   
    }
    @mixin font-Roboto-medium($color){
        font-family: 'Roboto-medium';
        color: $color;
    }
   @mixin font-Roboto-Regular($font-size,$color){
    font-family: 'Roboto-regular';
    font-size: $font-size;
    color: $color;
   }
   

  
  
  
