
$menu-width: 150px;                
$animation-duration: 0.3s;          

/*colors*/
$primary-color:#091133;
$secondary-color:#505F98;
$button-bg-color:#111b47;
$features-p-color:#6F7CB2;
$icon-p-see-one-price-color:#5D6970;
$footer-bg-color:#E7ECFF;
$ui-design-kit-logo-color:#37447e;
$price-color:#222F65;
$your-company-color:#939EA4;
$footer-hr-color:#CDD1D4;
$social-icons-color:#B0B8BC;
$overlay-bg-color: rgba(255, 255, 255, 0.8); 
$btn-hover-color:rgba(0,0,0,.7);
/*font sizes*/
$font-18px:18px;
$font_16px:16px;
$font_14px:14px;
$font_12px:12px;
$font_50px:50px;








